.p-head{
    position: absolute;
    background-color: #333;
    opacity: 0.5;
    color: #fff;
    width: 100%;
}
#balance {
    display: inline-block;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*background-color: #333;*/
    /*color: #fff;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
    /*margin: 5px;*/
}

.actions {
    /*display: inline-block;*/
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#editor_mode_on,#editor_mode_off{
    display: none;
    /*position: absolute;*/
    /*top: 200px;*/
}
#editor_mode_on:hover,#editor_mode_off:hover{
    background-color: #0e111c;
}
#addResource{display: none;}

.resources {
    width: 20px;
    height: 20px;
    /*margin: 5px;*/
    /*cursor: pointer;*/
    display: inline-block;
}

#defaultCanvas0 {padding: 50px 0 0 0;}





/* Style.css */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
}
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.service_item{
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    background-size: auto 100%;

}
